@font-face {
    font-family: montserrat-light;
    src: url(../fonts/Montserrat-Light-webfont.woff);
}

@font-face {
    font-family: open-sans-light;
    src: url(../fonts/OpenSans-Light-webfont.woff);
}

.links--horizontal ul li#links-1 a:after {
    background: url("../../colors/images/office-hours-link-icon-01.png")
}

.links--horizontal ul li#links-2 a:after {
    background: url("../../colors/images/testimonials-link-icon-01.png")
}

.links--horizontal ul li#links-3 a:after {
    background: url("../../colors/images/contactus-link-icon-01.png")
}

.links--horizontal ul li#links-4 a:after {
    background: url("../../colors/images/meet-staff-link-icon-01.png")
}

header #slot-responsive-phone-only .location-single__phone:before {
    background: url("../images/top-phone-icon-03.png");
    filter: hue-rotate(270deg);
}

.sbBlogComments .title-wrapper:before {
    background: url("../../colors/images/comment-title-icon-03.png")
}

.sbBlogComments .by-wrapper:before {
    background: url("../../colors/images/contact-name-icon-03.png")
}

body {
    background-color: #fff
}

.sbContainer a {
    color: #144646
}

.sbContainer a:hover {
    color: #327b7b
}

.sbContainer a:active {
    color: #97f281
}

.sbContainer p {
    color: #777
}

.sbContainer h1, .sbContainer h2, .sbContainer h3, .sbContainer h4, .sbContainer h5, .sbContainer h6 {
    color: #333
}

.sbContainer .logo-container .logo a {
    color: #333
}

.sbContainer header {
    background-color: #f9f2ff
}

.sbContainer header .separator--top {
    background-color: #dedede
}

.sbContainer header .navbar__header .navbar__toggle {
    color: #000
}

.sbContainer header .navbar__header .mobile-menu-label {
    color: #000
}

.sbContainer .nav-primary ul .magic-line {
    background-color: #ccc
}

.sbContainer .nav-primary ul li a {
    color: #999;
}

.sbContainer .nav-primary ul li a:hover {
    color: #000
}

.sbContainer .nav-primary ul li.haschild:before {
    color: #144646
}

.sbContainer .nav-primary ul li.active > a {
    color: #333
}

.sbContainer .nav-primary ul li.active > a:after {
    background-color: #ccc
}

.sbContainer .nav-primary ul li ul li a {
    background-color: rgba(255, 255, 255, 0.6);
    color: #000;
    border-color: #ccc
}

.sbContainer .nav-primary ul li ul li a:hover {
    background-color: rgba(255, 255, 255, 0.75)
}

.sbContainer footer .nav-primary ul {
    border-color: #a09c97
}

.sbContainer footer .nav-primary ul .magic-line {
    background-color: #144646
}

.sbContainer footer .nav-primary ul li a {
    color: #a09c97
}

.sbContainer footer .nav-primary ul li a:hover {
    color: #ded9d3
}

.sbContainer footer .nav-primary ul li.active > a {
    color: #fff
}

.sbContainer footer .nav-primary ul li.active > a:after {
    background-color: #144646
}

.sbContainer .slider .tagline-container .item .tagline-title {
    color: #fff
}

.sbContainer .slider .tagline-container .item .tagline-title-secondary {
    color: #fff
}

.sbContainer .make-appointment-container {
    background-color: #144646
}

.sbContainer .make-appointment-container .tagline-wrapper .tagline-title {
    color: #fff
}

@media (max-width: 767px) {
    .sbContainer .links--horizontal ul li[id^="links-"] a {
        border-color: #c3c3c3;
        background-color: #f9f2ff;
        color: rgba(0, 0, 0, 0.8)
    }
}

@media (min-width: 768px) {
    .sbContainer .links--horizontal ul li[id^="links-"] {
        background-color: rgba(255, 255, 255, 0.6)
    }

    .sbContainer .links--horizontal ul li[id^="links-"]:hover {
        background-color: rgba(255, 255, 255, 0.9)
    }

    .sbContainer .links--horizontal ul li[id^="links-"] a {
        color: rgba(0, 0, 0, 0.8)
    }
}

@media (max-width: 767px) {
    .sbContainer header #slot-responsive-phone-only .location-single__phone {
        color: #000 !important
    }
}

.sbContainer header #slot-responsive-phone-only .location-single__phone {
    color: #999
}

.sbContainer footer .contact-location {
    color: #fff
}

.sbContainer footer .contact-location .location-single__address:before {
    color: #144646
}

.sbContainer footer .contact-location .location-single__phonecontactus:before {
    color: #144646
}

.sbContainer .inner-page-title-wrapper {
    background-color: #144646
}

.sbContainer .page-title {
    color: #fff
}

.sbContainer .hor-separator {
    background-color: #144646
}

.sbContainer .page-content .homepage_title, .sbContainer .page-content #slot-main h1, .sbContainer .page-content .doctor_info h1 {
    color: #333
}

.sbContainer .page-content p {
    color: #777
}

.sbContainer .page-content ul {
    color: #144646
}

.sbContainer .page-content ul li a {
    color: #777
}

.sbContainer .page-content #slot-main ul {
    color: #144646;
    list-style: none
}

.sbContainer .page-content #slot-main ul li {
    color: #777;
    padding-left: 1em;
    text-indent: -.7em
}

.sbContainer .page-content #slot-main ul li a {
    color: #777
}

.sbContainer .page-content #slot-main ul li:before {
    content: "• ";
    color: #144646
}

.sbContainer .page-content #slot-main ol {
    color: #144646;
    list-style: none
}

.sbContainer .page-content #slot-main ol li {
    color: #777;
    padding-left: 1em;
    text-indent: -.7em
}

.sbContainer .page-content #slot-main ol li a {
    color: #777
}

.sbContainer .page-content #slot-main ol li:before {
    content: "• ";
    color: #144646
}

.sbContainer .page-content strong {
    color: #777
}

.sbContainer .contactus-wrapper-outer {
    border-color: #e1e1e1
}

.sbContainer textarea {
    border-color: #c7c4bd !important
}

.sbContainer .contactus-section .contactus-title {
    color: #333
}

.sbContainer #slot-responsive-hours #officeHours caption {
    color: #333
}

.sbContainer #slot-responsive-hours #officeHours td {
    color: #333
}

.sbContainer #slot-responsive-hours #officeHours td:first-child {
    color: #777
}

.sbContainer .testimonials-container {
    background-color: #f5f2f9
}

.sbContainer .testimonials-container .inner ul li h2 {
    color: #767470
}

.sbContainer .testimonials-container .inner ul li p {
    color: #333
}

.sbContainer footer {
    background-color: #34303c
}

.sbContainer footer #slot-footer3 ul li a {
    color: white;
}

.sbContainer .social-media ul li a {
    background-color: #144646
}

.sbContainer .social-media ul li a:before {
    color: #34303c
}

.sbContainer .social-media ul li a:hover {
    background-color: #327b7b
}

.sbContainer .team-member {
    background-color: #fafafa;
    border-color: #e8e6e3
}

.sbContainer .team-member .staff-img img {
    border-color: #e8e6e3
}

.sbContainer .team-member .member-info h2 {
    color: #282828
}

.sbContainer .team-member .member-info h3 {
    color: #999
}

.sbContainer .team-member .name-title-wrapper h2 {
    color: #282828
}

.sbContainer .team-member .name-title-wrapper h3 {
    color: #999
}

.sbContainer #sbBlogPosts .sbBlogPostTitle a, .sbContainer .blog-container .sbBlogPostTitle a {
    color: #333
}

.sbContainer #sbBlogPosts .sbBlogPostByLine, .sbContainer #sbBlogPosts .sbBlogPostPublishDate, .sbContainer #sbBlogPosts .sbBlogPostCategories, .sbContainer #sbBlogPosts .sbBlogPostTags, .sbContainer #sbBlogPosts .sbBlogPostFoot, .sbContainer .blog-container .sbBlogPostByLine, .sbContainer .blog-container .sbBlogPostPublishDate, .sbContainer .blog-container .sbBlogPostCategories, .sbContainer .blog-container .sbBlogPostTags, .sbContainer .blog-container .sbBlogPostFoot {
    color: #999
}

.sbContainer #sbBlogPosts .sbBlogPostByLine:before, .sbContainer #sbBlogPosts .sbBlogPostPublishDate:before, .sbContainer #sbBlogPosts .sbBlogPostCategories:before, .sbContainer #sbBlogPosts .sbBlogPostTags:before, .sbContainer #sbBlogPosts .sbBlogPostFoot:before, .sbContainer .blog-container .sbBlogPostByLine:before, .sbContainer .blog-container .sbBlogPostPublishDate:before, .sbContainer .blog-container .sbBlogPostCategories:before, .sbContainer .blog-container .sbBlogPostTags:before, .sbContainer .blog-container .sbBlogPostFoot:before {
    color: #999
}

.sbContainer #sbBlogPosts .sbBlogPostFooterComments, .sbContainer #sbBlogPosts .sbBlogPostPermalink, .sbContainer .blog-container .sbBlogPostFooterComments, .sbContainer .blog-container .sbBlogPostPermalink {
    color: #144646
}

.sbContainer #sbBlogPosts .sbBlogPostFooterComments:before, .sbContainer #sbBlogPosts .sbBlogPostPermalink:before, .sbContainer .blog-container .sbBlogPostFooterComments:before, .sbContainer .blog-container .sbBlogPostPermalink:before {
    color: #999
}

.sbContainer #sbBlogPosts .sbBlogPostContent, .sbContainer .blog-container .sbBlogPostContent {
    color: #333
}

.sbContainer #sbBlogPosts .sbBlogPostFooter, .sbContainer #sbBlogPosts .sbBlogPostHeader, .sbContainer .blog-container .sbBlogPostFooter, .sbContainer .blog-container .sbBlogPostHeader {
    border-color: #eff1f0
}

.sbContainer #sbBlogPosts .sbBlogPostShare a[class^="addthis_button_"] span, .sbContainer .blog-container .sbBlogPostShare a[class^="addthis_button_"] span {
    background-color: #ccc !important
}

.sbContainer #sbBlogPosts .sbBlogPostShare a[class^="addthis_button_"] span:hover, .sbContainer .blog-container .sbBlogPostShare a[class^="addthis_button_"] span:hover {
    background-color: #999 !important
}

.sbContainer .doctor_info_wrapper_outer {
    background-color: #f5f2f9
}

.sbContainer .doctor_info_wrapper_outer .doctor_info_wrapper #slot-mainImg img {
    border-color: #c3c3c3
}

.sbContainer .doctor_info_wrapper_outer .doctor_info_wrapper p {
    color: #777
}

.sbContainer .doctor_info_wrapper_outer .doctor_info_wrapper .meet_doctor_title {
    border-color: #144646;
    color: #333
}

.sbContainer aside[role="complementary"] .edocs-sidebar-links ul li a {
    border-color: #dedede;
    color: #777;
    background-color: #fff
}

.sbContainer aside[role="complementary"] .edocs-sidebar-links ul li a:hover {
    background-color: #144646;
    color: #fff
}

.sbContainer aside[role="complementary"] #slot-responsive-hours #officeHours {
    background: #f5f1ee;
    border-color: #e5e5e5
}

.sbContainer aside[role="complementary"] #slot-library ul {
    border-color: #e6e6e6
}

.sbContainer aside[role="complementary"] #slot-library ul li a {
    color: #707070;
    border-color: #e6e6e6
}

.sbContainer aside[role="complementary"] #slot-library ul li a:hover {
    color: #333
}

.sbContainer aside[role="complementary"] #slot-library ul li.haschild a span {
    color: #e6e6e6
}

.sbContainer aside[role="complementary"] #slot-library ul li:hover a span:hover {
    color: #144646 !important;
    background-color: #e6e6e6
}

.sbContainer aside[role="complementary"] #slot-library ul li.arrow a span {
    color: #144646 !important
}

.sbContainer aside[role="complementary"] #slot-library ul li ul li a {
    color: #706d66;
    background-color: #f9f2ff;
    border-color: #f5f2f9
}

.sbContainer aside[role="complementary"] #slot-library ul li ul li a:hover {
    background-color: #f5f2f9
}

.sbContainer #sbAppointment textarea {
    border-color: #c7c4bd !important
}

.sbContainer #sbAppointment select {
    border-color: #c7c4bd !important
}

.sbContainer .button--submit-colors, .sbContainer .sbContactResponsive .btn, .sbContainer .sbContactResponsive .submit, .sbContainer .leadForm form .btn, .sbContainer .leadForm form .submit, .sbContainer #sbBlogPosts .sbBlogComments .btn, .sbContainer #sbBlogPosts .sbBlogComments .submit, .sbContainer .blog-container .sbBlogComments .btn, .sbContainer .blog-container .sbBlogComments .submit, .sbContainer .doctor_info_wrapper_outer .doctor_info_wrapper #slot-responsive-appt-request a, .sbContainer #sbAppointment .btn, .sbContainer #sbAppointment .submit {
    border-color: #144646;
    color: #333;
    background-color: transparent
}

.sbContainer .button--submit-colors:hover, .sbContainer .sbContactResponsive .btn:hover, .sbContainer .sbContactResponsive .submit:hover, .sbContainer .leadForm form .btn:hover, .sbContainer .leadForm form .submit:hover, .sbContainer #sbBlogPosts .sbBlogComments .btn:hover, .sbContainer #sbBlogPosts .sbBlogComments .submit:hover, .sbContainer .blog-container .sbBlogComments .btn:hover, .sbContainer .blog-container .sbBlogComments .submit:hover, .sbContainer .doctor_info_wrapper_outer .doctor_info_wrapper #slot-responsive-appt-request a:hover, .sbContainer #sbAppointment .btn:hover, .sbContainer #sbAppointment .submit:hover {
    border-color: #327b7b;
    color: #fff;
    background-color: #327b7b
}

.sbContainer .button--submit-colors:active, .sbContainer .sbContactResponsive .btn:active, .sbContainer .sbContactResponsive .submit:active, .sbContainer .leadForm form .btn:active, .sbContainer .leadForm form .submit:active, .sbContainer #sbBlogPosts .sbBlogComments .btn:active, .sbContainer #sbBlogPosts .sbBlogComments .submit:active, .sbContainer .blog-container .sbBlogComments .btn:active, .sbContainer .blog-container .sbBlogComments .submit:active, .sbContainer .doctor_info_wrapper_outer .doctor_info_wrapper #slot-responsive-appt-request a:active, .sbContainer #sbAppointment .btn:active, .sbContainer #sbAppointment .submit:active {
    border-color: #97f281;
    color: #333;
    background-color: #97f281
}

.sbContainer .button--submit-colors2, .sbContainer .slider .tagline-container #slot-responsive-appt-request a, .sbContainer #librarySearchForm input[type="submit"] {
    border-color: #144646;
    color: #fff;
    background-color: #144646
}

.sbContainer .button--submit-colors2:hover, .sbContainer .slider .tagline-container #slot-responsive-appt-request a:hover, .sbContainer #librarySearchForm input[type="submit"]:hover {
    border-color: #327b7b;
    color: #fff;
    background-color: #327b7b
}

.sbContainer .button--submit-colors2:active, .sbContainer .slider .tagline-container #slot-responsive-appt-request a:active, .sbContainer #librarySearchForm input[type="submit"]:active {
    border-color: #97f281;
    color: #fff;
    background-color: #97f281
}

.sbContainer .button--submit-colors3, .sbContainer .make-appointment-container #slot-responsive-appt-request a {
    border-color: #fff;
    color: #144646;
    background-color: #fff
}

.sbContainer .button--submit-colors3:hover, .sbContainer .make-appointment-container #slot-responsive-appt-request a:hover {
    border-color: #fff;
    color: #144646;
    background-color: #fff
}

.sbContainer .button--submit-colors3:active, .sbContainer .make-appointment-container #slot-responsive-appt-request a:active {
    border-color: #fff;
    color: #144646;
    background-color: #fff
}

.sbContainer .input-field-colors, .sbContainer #librarySearchForm, .sbContainer .form__control, .sbContainer textarea, .sbContainer .leadForm input[type="text"], .sbContainer .leadForm input[type="tel"], .sbContainer .leadForm input[type="email"], .sbContainer .leadForm select, .sbContainer .leadForm textarea, .sbContainer #sbBlogPosts .sbBlogComments input, .sbContainer #sbBlogPosts .sbBlogComments textarea, .sbContainer .blog-container .sbBlogComments input, .sbContainer .blog-container .sbBlogComments textarea, .sbContainer #sbAppointment input {
    color: #989898;
    border-color: #c7c4bd
}

.sbContainer .input-field-colors:focus, .sbContainer #librarySearchForm:focus, .sbContainer .form__control:focus, .sbContainer textarea:focus, .sbContainer .leadForm input[type="text"]:focus, .sbContainer .leadForm input[type="tel"]:focus, .sbContainer .leadForm input[type="email"]:focus, .sbContainer .leadForm select:focus, .sbContainer #sbBlogPosts .sbBlogComments input:focus, .sbContainer #sbBlogPosts .sbBlogComments textarea:focus, .sbContainer .blog-container .sbBlogComments input:focus, .sbContainer .blog-container .sbBlogComments textarea:focus, .sbContainer #sbAppointment input:focus {
    border-color: #cfcbc4;
    color: #333;
    background-color: #f5f2f9;
    box-shadow: none
}

.sbContainer .text-area-colors, .sbContainer #sbAppointment textarea {
    color: #989898;
    border-color: #c7c4bd
}

.sbContainer .text-area-colors:focus, .sbContainer #sbAppointment textarea:focus {
    border-color: #cfcbc4;
    color: #333;
    background-color: #f5f2f9;
    box-shadow: none
}

.bg-green {
    background: #144646;
    height: 3px;
}

.contactus-wrapper-outer {
    background: #f5f2f9;
}

.testimonials-container,
.doctor_info_wrapper_outer {
    display: none !important;
}

.logo-container {
    padding: 20px 15% !important;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.logo-container h1 {
    font-family: 'gothic';
    font-size: 40px;
    margin: 0 auto;
    text-align: center;
}

#contact_us {
    border-bottom: 2px solid #144646 !important;
    margin-bottom: 10px;
    border-top: 2px solid #144646 !important;
    margin-top: 10px;
}

form h2 {
    margin: 30px 0 0 0 !important;
}

form h3 {
    margin: 40px 5px 20px 5px !important;
    font-weight: bold !important;
}

form h3:first-of-type {
    margin-top: 10px !important;
}

.radio-label {
    font-family: open-sans-light !important;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 5px;
    text-align: center;
}

form .input_container input[type='radio']:first-of-type {
    margin-left: 10px;
}

form .input_container input[type='radio']:nth-of-type(2) {
    margin-left: 40px;
}

.radio-container {
    width: 45% !important;
    display: inline-block;
    margin-right: 2% !important;
    border: 1px solid #c7c4bd;
    padding: 10px !important;
    border-radius: 5px;
    background: #c7c4bd24;
}

.leadForm .alert {
    text-align: center;
    font-family: "open-sans-light", Arial, Helvetica, sans-serif;
}

.create-appointment-paragraph {
    font-size: 0.7em !important;
    border-top: 1px solid #777;
    padding-top: 10px !important;
}

.create-appointment-paragraph span {
    cursor: pointer;
}

.green-text {
    color: #144646;
}

.sans-font {
    font-family: open-sans-light, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.custom-button {
    border: 2px solid #144646;
    color: #333;
    background-color: transparent;
    border-radius: 50px;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    transition: all ease 0.3s;
    outline: none;
    margin: 0;
    padding: 11px 60px;
    font-weight: 400;
    font-family: "montserrat-light", "montserrat", Arial, Helvetica, sans-serif !important;
}

.custom-button:hover {
    border-color: #327b7b;
    color: #fff;
    background-color: #327b7b;
}

table tr:not(:first-of-type) {
    cursor: pointer;
    font-size: 16px;
}

table tr:not(:first-of-type) td {
    color: #696969 !important;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.invoice-font-size {
    font-size: 16px;
    line-height: 5px;
    margin-left: auto;
    margin-top: auto;
}

tbody tr:first-of-type {
    background-color: #144646;
    color: white;
    font-weight: 400;
}

tbody tr th {
    text-align: center;
    border-left: 1px solid white;
}

tbody tr:first-of-type:hover {
    background-color: #144646 !important;
}

.modal-body .input_container span:first-of-type {
    color: #144646;
    font-weight: bold;
    align-self: flex-end;
    font-size: 16px;
}

.modal-body .input_container span:last-of-type {
    font-size: 22px;
}

tbody {
    display: table;
    width: 100%;
}