/* Customer CSS */
p.cstm-bttn a {
    background: linear-gradient(to top, #350592, #dbcafb);
    padding: 10px 20px;
    color: #fff;
    border: outset 4px #845531;
    border-radius: 15px;
}

p.cstm-bttn {
    text-align: center;
}

li.iKarma_icon a::before {
    content: "\f16d";
}

.sbContainer header {
    background-color: #fff;
}

.sbContainer .logo-container .logo a img {
    max-height: 150px;
}

body.m2.e3.aopEnable .ofc_slide1 {
    background-image: url(../images/indian-family.jpeg);
}

.sbContainer .slider .tagline-container .item .tagline-title {
    max-height: 200px;
}

.meet_doctor_info #slot-responsive-appt-request {
    display: none;
}

.sbContainer .page-content ul li a, .sbContainer .page-content #slot-main ul li a {
    color: #144646;
}

.sbContainer .page-content ul li a:hover, .sbContainer .page-content #slot-main ul li a:hover {
    color: #777;
}

.sbContainer .page-content ul, .sbContainer .page-content #slot-main ul li::before {
    color: #777;
}

.lightbox-custom {
    width: 100%;
    text-align: center;
}

.lightbox-custom img {
    border: 2px solid #aaa !important;
    border-radius: 8px;
}

.lightbox-custom img:hover {
    border: 2px solid #ccc !important;
}

.lightbox-custom p {
    display: inline-block;
}

#wContainer_H, #wSearch_H {
    width: 100% !important;
}

#wContainer_H {
    height: 81px !important;
}

#floatingbar {
    background-color: #144646;
}

#floatingbar .phone {
    color: #fff;
    text-shadow: 1px 1px 2px #000;
}

#staff-left, #staff-right {
    float: left;
    padding: 5px;
    margin: 5px;
}

#staff-left {
    width: 30%;
    text-align: center;
}

#staff-left h2 {
    margin-bottom: 0 !important;
}

#staff-left p, #staff-right p {
    margin-bottom: 10px !important;
}

#staff-right {
    width: 60%;
}

#col2 {
    float: left;
    padding: 5px;
    width: 50%;
}

#col3 {
    float: left;
    padding: 5px;
    margin: 5px;
    width: 31%;
}

@media (max-width: 991px) {
    #col2, #col3, #staff-left, #staff-right {
        width: 100%;
    }

    .sbContainer img.right, .sbContainer img.left, .dd-right {
        float: none;
        display: block;
    }
}

@media (min-width: 992px) {
    .sbContainer .page-content .main-content, .sbContainer .inner-page-title .main-content {
        padding: 0 50px 40px;
    }

    .sbContainer .slider .tagline-container .item .tagline-title {
        width: 49%;
    }
}

/*MOBILE MENU VIEW*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #144646;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #999;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
