#contentLeft, #top, #slot-haveQuestion, #homeSearch, #footer, #librarySearchForm, img, #flash, iframe, #slot-navigation, #slot-footer2, #slot-footer3, #slot-links, #slot-library {
	display: none;
}

body {
	font-family: Arial;
	font-size: 12px;
}

h1 {
	font-size: 22px;
	margin-bottom: 15px;
}

h2 {
	font-size: 18px;
	margin: 0 0 10px 0;
}

p {
	margin: 0 0 30px 0;
	line-height: 1.8;
}

#slot-main { width: 100%; float: left; }
#slot-lsidebar, #slot-rsidebar { display: none;}
#footer-content { width: 100%; float: left; clear: both; }

/* ASGE Library */

.sbContainer #libraryBody #asge-source {
	background: url(http://www.officite.com/img/gastro/asge-logo.png) no-repeat right 10px;
	padding: 10px 200px 20px 0px;
	font-size: 11px;
}

.sbContainer #libraryBody .caption {
	font-size: 10px;
	font-style: italic;
	padding-top: 5px;
	width:100%;
	display:block;
}

.sbContainer #libraryBody img.left {
	float: left;
	padding: 10px;
}

#libraryBody #gastroLibrary p {
	text-align: justify;
}

#libraryBody #gastroLibrary img {
	margin: 0;
	padding: 5px;
}


#img00 {
	float: right;
	width: 262px;
	margin-left: 20px;
}

#img01 {
	width: 312px;
	float: right;
	margin-left: 20px;
}

#img02 {
	float: right;
	width: 162px;
	margin-left: 20px;
	margin-bottom: 10px;
}

#img03 {
	float: left;
	width: 263px;
	margin: 0 20px 20px 0;
}

#img03-1 {
	float: right;
	width: 263px;
	margin: 0 0 20px 20px;
}

#img04 {
	float: left;
	margin: 0 20px 0 0;
}

#img05 {

}

.rightGastroPic {
	float:right;
	margin: 0 0 25px 30px;
}

.leftGastroPic {
	float:left;
	margin: 0 30px 25px 0;
}

.grayBox {
	background-color:#efefef;
	border:1px solid #CCC;
	padding:10px;
}

.grayBox img {
	background-color:#fff;
}

#copyright {
	font-size: 10px;
	font-style: italic;
}

.sbContainer #libraryBody img.pdfIcon {
	float: left;
	border: none;
	outline: none;
	margin: 0 0 0 10px;
	padding: 0;
}

.sbContainer #libraryBody img.printIcon {
	float: left;
	border: none;
	outline: none;
	margin: 0;
	padding: 0;
	display: none;
}

#asge-footer {
	border: 1px solid #666;
	background: #FFF;
	padding: 10px;
	color: #666;
}

#libraryBody #asge-footer img {
	border: none;
	outline: none;
	margin-left: 20px;
}

p.importantReminder {
	padding: 10px;
	border: 1px solid #e6bf25;
	background: #f5f0b8;
	color: #e68425;
}

.print-header {
	display: block;
}

object {
	display: none;
}


.downloadPDF {
	display: none;
}



/************ AAD Video Library **********/

.sbContainer #libraryContent {
    width: calc(100% + 20px);
    margin: 0 -15px;
}

.sbContainer .libraryContent #libraryBody .AAD-video-wrapper {
    padding: 7px;
    border: 1px solid #ddd;
    float: left;
    box-sizing: border-box;
    margin: 0 10px 10px 0;
    position: relative;
}

.sbContainer .libraryContent #libraryBody .AAD-video-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: pointer;
}

.sbContainer .libraryContent #libraryBody .AAD-video-thumbnail:hover {
    background: rgba(0, 0, 0, 0.1);
}

.sbContainer .libraryContent #libraryBody .AAD-video-title {
    position: absolute;
    width: 100%;
    text-align: left;
    left: 0;
    bottom: 0;
    color: #545454;
    font-size: 14px;
    padding: 7px;
    display: table;
    height: 48px;
    font-weight: bold;
}

.sbContainer .libraryContent #libraryBody .AAD-video-title span {
    display: table-cell;
    vertical-align: middle;
}

.sbContainer .libraryContent #libraryBody .AAD-video-wrapper iframe {
    width: calc(100% - 14px)!important;
    height: calc(100% - 62px)!important;
    position: absolute;
    top: 7px;
    left: 7px;
}

.sbContainer .libraryContent #libraryBody p {
    clear: both;
}

@media (min-width: 320px) {
    .sbContainer .libraryContent #libraryBody .AAD-video-wrapper {
        width: 100%;
        margin: 0 0 10px;
        padding-top: 60%;
    }
}

@media (min-width: 540px) {
    .sbContainer .libraryContent #libraryBody .AAD-video-wrapper {
        width: calc((100% - 10px) /2);
        margin: 0 10px 10px 0;
        padding-top: 30%;
    }
    .sbContainer .libraryContent #libraryBody .AAD-video-wrapper:nth-of-type(2n + 2) {
        margin: 0 0 10px;
    }
}

@media (min-width: 768px) {
    .sbContainer .libraryContent #libraryBody .AAD-video-wrapper {
        width: calc((100% - 20px) / 3);
        margin: 0 10px 10px 0;
        padding-top: 25%;
    }
    .sbContainer .libraryContent #libraryBody .AAD-video-wrapper:nth-of-type(2n + 2) {
        margin: 0 10px 10px 0;
    }
    .sbContainer .libraryContent #libraryBody .AAD-video-wrapper:nth-of-type(3n + 3) {
        margin: 0 0 10px;
    }
}
