ul {
    margin: 16px -16px;
}
ul li {
    display: inline-block;
    margin: 2px 20px;
}

/**
 * Code for checkboxes
 */
.checkbox {
    position: relative;
     width: 1rem;
     height: 1rem;
     margin-right: 0.75rem;
    cursor: pointer;
    -webkit-appearance: none;
    outline: none;
    /**
     * Iterate over map and autogenerate helper classes.
    * See "https://codepen.io/fxm90/pen/zGjjrJ" for an example
    */
}
.checkbox:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border: 2px solid #f2f2f2;
    transition: all 0.3s ease-in-out;
}
.checkbox:checked:before {
    height: 50%;
    transform: rotate(-45deg);
    border-top-style: none;
    border-right-style: none;
}
.checkbox--red:checked:before {
    border-color: #f44336;
}
.checkbox--pink:checked:before {
    border-color: #e91e63;
}
.checkbox--purple:checked:before {
    border-color: #9c27b0;
}
.checkbox--deep-purple:checked:before {
    border-color: #673ab7;
}
.checkbox--indigo:checked:before {
    border-color: #3f51b5;
}
.checkbox--blue:checked:before {
    border-color: #2196f3;
}
.checkbox--light-blue:checked:before {
    border-color: #03a9f4;
}
.checkbox--cyan:checked:before {
    border-color: #00bcd4;
}
.checkbox--teal:checked:before {
    border-color: #009688;
}
.checkbox--green:checked:before {
    border-color: #4caf50;
}
.checkbox--light-green:checked:before {
    border-color: #8bc34a;
}
.checkbox--lime:checked:before {
    border-color: #cddc39;
}
.checkbox--yellow:checked:before {
    border-color: #ffeb3b;
}
.checkbox--amber:checked:before {
    border-color: #ffc107;
}
.checkbox--orange:checked:before {
    border-color: #ff9800;
}
.checkbox--deep-orange:checked:before {
    border-color: #ff5722;
}
.checkbox--blue-grey:checked:before {
    border-color: #607d8b;
}